.image {
  width: 28rem;
  height: 28rem;
  border-radius: 0.5rem;
}

.imageComponentBottom {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  letter-spacing: 0.05rem;
}

.likeSection {
  display: flex;
  justify-content: center;
}

.likeButton {
  background: none;
  box-shadow: none;
  width: fit-content;
  height: fit-content;
}

.description {
  width: 65%;
  font-size: 0.9rem;
}

.descriptionName {
  text-transform: capitalize;
}
